.container {
    width: 30%;
    margin: 0px auto;
    margin-top: 7%;
    padding: 20px;
}

body {
    background: #fff;
    padding: 0px;
    margin: 0px;
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
}

button {
    float: left;
    width: 40%;
}