.hero {
    background: black url(../assets/home.jpg) center / cover;
}

@media (max-width:1024px) {
    .hero {
        background: url(../assets/home.jpg) center / cover;
    }
}

@media (max-width:500px) {
    .hero {
        background: url(../assets/home.jpg) center / cover;
    }
}

a {
    font-size: 25px;
    color: white;
}
/*=============================================helpers================================================*/

.center, .center-column, .top, .right, .bottom, .left {
	display: flex;
	justify-content: center;
	align-items: center;
}

.center-column {
    flex-direction: column;
}

.top    { align-items:     flex-start; }
.right  { justify-content: flex-end;   }
.bottom { align-items:     flex-end;   }
.left   { justify-content: flex-start; }

.single-spaced, .single-spaced * {
    line-height: 1;
}

@media (max-width: 1024px) {
	.desktop {
		display: none;
	}
}

#mainTitle{
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.22);
    font-family: 'Spectral', serif;
    border: 2px solid white;
    font-size: 100px;
}   
